<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada -->
<html lang="pt-br">
	<head>
		<title>Agenda</title>
		<meta charset="utf-8">
		<meta name="author" content="Alfredo de Morais">
		<meta name="description" content="">
		<meta name="keywords" content="html5, tecnologia">
	</head>
	<body>
		<h1>Agendamentos</h1>
        <ul>
            {% for evento in eventos %}
                <li>{{ evento.titulo }} - {{ evento.get_data_evento }}</li>
            {% endfor %}
        </ul>
	</body>
</html>